*{
        margin: 0;    /* removes any gap in between*/
        padding: 0;
        box-sizing: border-box;
        outline: none;
} 
html {
        height: 100%;

}
body{
        background-color: #2f3050;
        background-image: url(../img/rest3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-family: 'Berkshire Swash', cursive;        
}
/****** CONTAIN ALL ELEMENTS  **********/
/* ***************************************/
.container {          
            margin-left: auto;
            margin-right: auto;
            display: inline;
            overflow: hidden;

}

nav {
            background-color:cornflowerblue;
            text-align: center;
            font-family:  'Berkshire Swash', cursive;
            margin-top: 5px;
            padding-bottom: 5px;
            position: sticky; 

        }
nav a {
            text-decoration: none; 
            padding-left: 10px;
            padding-right: 10px ; 
            font-family: Geneva, Tahoma, sans-serif

}

main p::first-line{
            background-color: rgba(100, 148, 237, 0.253)    ;
}
main p::first-letter{
            color:#FFF;
            font-size: 30px ;
}
main p::after{
            content: " 50% discount in all orders last hour before closing  ";
            background-color: rgba(153, 205, 50, 0.924);
            color:gray;
            font-weight: bold;
}

h1 {
            font-size: 84px;
            color: white;
            
}
p {
            font-size: 20px;
            color: white;
            /* font-family:'Berkshire Swash', cursive      ; */
}
a{
            color: white;
            font-family: 'Berkshire Swash', cursive;
            font-weight: 600;
}
a:link { color: white}
a:visited { color: rgb(102,0,204)}
a:hover { color: rgb(16, 2, 97);
            /*text-decoration-line: underline;
            text-decoration-color:greenyellow;*/        
        }
a:active { color: rgb(102,0,102)}
/*** FLEX CODE FROM HERE PARENT FIRST  */
/* *********************************** */
.parent{
    /* height: %; */
    /* border: 20px solid goldenrod; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  /*MAIN AXIS*/ 
    justify-content: space-around;
    align-items: center;
}
.child1{
    padding-top: 10%;
    padding-bottom: 10%;
    flex:1 1 400px;
    /* max-width: auto; */
    height: 30%;
    /* background: blueviolet; */
    text-align: center;
    
}
.child2 .child3{
    flex:1 1 615px;
    /* max-width: 615px; */
    height: auto;
}
/* .child2{
    /* background: coral; 
    
}
.child3{
    /* background: cyan; 
    
} */
/********* END OF FLEX CODE FROM *********/


/* ************************************ */
/********* CODE FOR FOOTER  ************/
/* ************************************ */
footer {
        /* position:fixed; */
        background-color:rgba(0, 0, 0, 0.39);
        text-align: center;
        height: 40px;
        padding-top: 0;
        /* font-family: 'Berkshire Swash', 'cursive';    */
        margin-top: 100px;
       
}
footer p{
        font-size: 14px;
        text-align: center;
        color: whitesmoke;
        padding-top: 13px;
        
}
/************* end FOOTER  *****************/

@media(max-width:600px) {
        .container {
            width: 100%;
            float:none;
        }
        
}
    